
h1 {
  font-weight: 300;
  margin: 0;
}
 
html {

   
   background: #100a1c;
   background-image:
     radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),


     
     radial-gradient(60% 50% ellipse at center bottom, #7ad80e 0%, #f00c0c 100%);
   background-attachment: fixed;
   color: #6cacc5;
 }

 button {
  font-size: 26px;
}

.num {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
}
 .ops{
  background-color: dimgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;


 }
 .equals{
  background-color: dimgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;


 }
 .calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
  
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}