
body {
 background-image: url("src/giphy.gif");
 background-color: #cccccc;
}

input {
  position: relative;
  background-color: #FF0000;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 15px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

input:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

input:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

input:hover {background-color: #17e005}


#display{
  background-color: #00f708;
  padding: 15px;
  width: 620px;
  color: #FF0000;
  
}
#display[type="text"]
{
    font-size:50px;
}


input:active {
  background-color: #317e005;
  box-shadow: 0 5px rgb(3, 20, 247);
  transform: translateY(4px);
}

#clear{
  background-color: #191970;


}

#operator{
  background-color:#1E90FF
 
}
#operator[value="text"]
{
    font-size:50px;
}













